/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* CUSTOM PROPERTIES ( VARIABLES ) */
:root {
    --white-color:                    #ffffff;
    --dark-purple:                    #2D1E2F;
    --custom-primary-color:           #ff851b;
    --custom-primary-hover-color:     #FF9D47;
    --custom-text-color:              #F57200;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-height: 100%;
}


/*-------Main---------*/

.container{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-primary-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    column-gap: 30px;
}

.container .box {
    max-width: 75%;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}
.img-box{
    width: 100%;
    max-height: fit-content;
    border-radius: 25px;
}
/* Navbar Main */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-purple);
    padding: 10px 20px;
}

.navbar .logo {
    color: var(--custom-text-color);
    font-size: 24px;
    font-weight: bold;
}
.navbar .logo span {
    color: var(--white-color);
}

.navbar .nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar .nav-links ul li {
    margin-left: 20px;
}

.navbar .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar .nav-links ul li a:hover {
    color: #ddd;
}

.navbar .menu-icon {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.wrapper .container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.wrapper .container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.wrapper .container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.wrapper .container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.wrapper .container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.wrapper .container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
.wrapper form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
.wrapper form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.wrapper .container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.wrapper .container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.wrapper .input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.wrapper .input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.wrapper .input-field input :focus,
.wrapper .input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.wrapper .input-field select,
.wrapper .input-field input[type="date"]{
    color: #707070;
}
.wrapper .input-field input[type="date"]:valid{
    color: #333;
}
.wrapper .container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.wrapper .container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
.wrapper form button:hover{
    background-color: #265df2;
}
.wrapper form button i,
.wrapper form .backBtn i{
    margin: 0 6px;
}
.wrapper form .backBtn i{
    transform: rotate(180deg);
}
.wrapper form .buttons{
    display: flex;
    align-items: center;
}
.wrapper form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .wrapper .container form{
        overflow-y: scroll;
    }
    .wrapper .container form::-webkit-scrollbar{
       display: none;
    }
    .wrapper form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    .wrapper form .fields .input-field{
        width: 100%;
    }
}

/*------FORMS-------*/

.form{
    /* position: absolute; */
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: var(--custom-primary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: var(--custom-primary-hover-color);
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.login-btn{
    color: #fff;
    background-color: var(--custom-primary-color);
}
a.login-btn .login-btn-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.login-btn-icon,
img.form-btn-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.form-btn-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.signup-btn{
    border: 1px solid var(--custom-primary-color);
}
a.signup-btn span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}


.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}


/* General Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}

.footer-section ul a:hover {
    color: #f0c14b;
}

.footer-section .contact span {
    display: block;
    margin: 10px 0;
}

.footer-section .socials a {
    margin: 0 10px;
    font-size: 20px;
    color: #fff;
    transition: color 0.3s;
}

.footer-section .socials a:hover {
    color: #f0c14b;
}

.footer-section .contact-form input,
.footer-section .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section .contact-form button {
    padding: 10px 20px;
    background-color: #f0c14b;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-section .contact-form button:hover {
    background-color: #e6b923;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom a {
    color: #f0c14b;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar .nav-links ul {
        flex-direction: column;
    }

    .navbar .nav-links ul li {
        margin: 10px 0;
    }

    .navbar .menu-icon {
        display: block;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        padding: 10px;
    }

    .footer-section h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .footer-section h2 {
        font-size: 18px;
    }

    .footer-section ul a {
        font-size: 14px;
    }

    .footer-section .contact-form button {
        font-size: 14px;
    }
}




@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}